.product__table {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.product__table>div {
    width: 10%;
}

.product__table>div:nth-child(2) {
    width: 40%;
}

.product__table>div:nth-child(3) {
    width: 20%;
}

.product__table>div:nth-child(4) {
    width: 20%;
}

.product__table>div:nth-child(5) {
    width: 10%;
}