.user__container{
margin: 0 10% 0;
}

.user__title{
    display: flex;
    justify-content: space-between; 
    margin: 40px 20px;
}

.custom-button {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
   
}

.custom-button:hover {
    background-color: rgba(240, 240, 240, 0.8);
}


.user__table{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
.user__table>div {
    width: 10%;
}

.user__table>div:nth-child(2) {
    width: 30%;
}

.user__table>div:nth-child(3) {
    width: 30%;
}

.user__table>div:nth-child(4) {
    width: 20%;
}
.user__table>div:nth-child(5) {
    width: 10%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type="checkbox"]:checked+label::before {
    content: "";
    background: #3F51B5;
    border-color: #3F51B5;
    color: #fff;
    text-align: center;
}

input[type="checkbox"]+label {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}

.right__side{
    display: flex;
    justify-content: flex-end;
}

.number__page {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.number__page:hover {
    background-color: rgba(240, 240, 240, 0.8);}

.number__page.active {
    background-color: #9b9b9b;
    color: white;
}