.PI__container {
    width: 18%;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 15px;   
    cursor: pointer;
}

.PI__container img {
    width: 100%;
    transition: all 0.5s linear; 
    border-radius: 8px;
}

.PI__container:hover.PI__container img{
    transform: scale(1.1);
}

.Collection__container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 45px;
    border-top: 1px solid #2d2d2d;
    padding: 15px;
}

