.Sidebar__container {
  width: 100%;
  height: 80px;
  text-align: center;
  position: relative;
  height: 100vh;
}

.Sidebar__shopName {
  font-weight: 900;
  padding: 25px 0;
}

.Sidebar__extra {
  margin: 15px 0;
}

.Sidebar__extra i {
  padding: 30px 10px;
  font-size: 18px;
}

.Sidebar__navLink {
  list-style: none;
  padding: 0;
  display: grid;
}

.Content__name {
  color: black;
  text-decoration: none;
}

.Nav__links {
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 20px;
  color: black;
}

.Nav__links:hover {
  text-decoration: underline;
  color: #78cccd;
  background-color: #f7f7f7;
}

.Sidebar__footer {
  width: 100%;
  position: absolute;
  bottom: 10px;

}

.Sidebar__hotline {
  background-color: black;
  color: #ffffff;
  margin: 0 30px 15px;
  padding: 10px;
}

.Sidebar__hotline i {
  margin-right: 20px;
  font-size: 20px;
  color: #ffffff;
}

.Sidebar__connect i {
  padding: 7px 8px;
  color: #7d7d7d;
}

.Nav__link-selected {
  text-decoration: underline;
  color: #78cccd;
  background-color: #f7f7f7;
}

.Sidebar__comeback{
  background-color: red;
  text-decoration: none;
  color: #ffffff;
  padding: 1.5vh 2.5vw  ;
  position: absolute;
  bottom: 10px;
  left: 10%;
}