.DetailProduct__container{
  width: 1050px;  margin: auto;

}


.DetailProduct {
  display: flex;  
  width: 100%;
}

.DetailProduct__loading {
  width: 100%;
  height: 60vh;
}
.DetailProduct__title {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
}

.DetailProduct__images {
  width: 300px;
  border-radius: 8px;
  margin-right: 30px;
  }

.DetailProduct__info {
  flex: 1;
  padding: 20px;
  font-weight: 700;
}
.DetailProduct__info-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.DetailProduct__info-price {
  color: red;
  font-size: 25px;
  margin-bottom: 20px;
}

.DetailProduct__info-description {
  margin-bottom: 20px;
}

.DetailProduct__info-category {
  cursor: pointer;
}

.DetailProduct__info-category:hover {
  color: #78cccd;
  text-decoration: underline;
}

.DetailProduct__button {
  outline: none;
  padding: 8px 25px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 80px;
}
.DetailProduct__description{
    position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 40px 20px 20px;
  width: 100%;  margin: 50px 0 50px;

}
.DetailProduct__space{
  height: 50px;
  width: 100%;
  border-top: 1px solid #DDDDDD;
}

.DetailProduct__suggeted{
    border-top: 1px solid #DDDDDD; 
    position: relative;
    padding: 30px 0;
}

.DetailProduct__h4 {
  position: absolute;
  top: -15px;
  background-color: #fff;
  padding: 0 10px;
  left: 20px;
}

